BOT_TOKEN=7230797021:AAE2jBXKZYHfjKLZ7dTfblmhm5qUed4xHpU
# Not used in opensource version
BOT_IP=127.0.0.1
SERVER_URL=''
DOMAIN=''
USE_WEBHOOK=False
#
ADMIN=1273841502
# Not used without domain
MARZ_HAS_CERTIFICATE=False
